xml/circuito.dtd

<!ELEMENT circuito (nombre, caracteristicas, carrera, origen, tramos, multimedia, resultados, referencias)>
<!ATTLIST circuito>

<!ELEMENT nombre (#PCDATA)>

<!ELEMENT caracteristicas (longitudCircuito, anchura, localidad, pais, patrocinador)>
<!ELEMENT longitudCircuito (#PCDATA)>
<!ATTLIST longitudCircuito unidad CDATA #REQUIRED>
<!ELEMENT anchura (#PCDATA)>
<!ATTLIST anchura unidad CDATA #REQUIRED>
<!ELEMENT localidad (#PCDATA)>
<!ELEMENT pais (#PCDATA)>
<!ELEMENT patrocinador (#PCDATA)>

<!ELEMENT carrera (fecha, hora, numVueltas)>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT hora (#PCDATA)>
<!ELEMENT numVueltas (#PCDATA)>

<!ELEMENT origen (longitud, latitud, altitud)>
<!ELEMENT longitud (#PCDATA)>
<!ELEMENT latitud (#PCDATA)>
<!ELEMENT altitud (#PCDATA)>
<!ATTLIST altitud unidad CDATA #REQUIRED>

<!ELEMENT tramos (tramo+)>
<!ELEMENT tramo (distancia, punto)>
<!ATTLIST tramo id ID #REQUIRED sector CDATA #REQUIRED>
<!ELEMENT distancia EMPTY>
<!ATTLIST distancia unidad CDATA #REQUIRED value CDATA #REQUIRED>
<!ELEMENT punto (longitud, latitud, altitud)>


<!ELEMENT multimedia (fotos, videos)>
<!ELEMENT fotos (foto+)>
<!ELEMENT foto EMPTY>
<!ATTLIST foto src CDATA #REQUIRED descripcion CDATA #IMPLIED>
<!ELEMENT videos (video*)>
<!ELEMENT video EMPTY>
<!ATTLIST video src CDATA #REQUIRED duracion CDATA #IMPLIED descripcion CDATA #IMPLIED>

<!ELEMENT resultados (vencedor, podium)>
<!ELEMENT vencedor (nombre, tiempo)>
<!ELEMENT tiempo (#PCDATA)>
<!ATTLIST tiempo unidad CDATA #REQUIRED>
<!ELEMENT podium (puesto+)>
<!ELEMENT puesto (piloto)>
<!ATTLIST puesto 
    posicion CDATA #REQUIRED
    pais CDATA #REQUIRED
    puntos CDATA #REQUIRED>
<!ELEMENT piloto (#PCDATA)>


<!ELEMENT referencias (referencia+)>
<!ELEMENT referencia (#PCDATA)>
<!ATTLIST referencia sitio CDATA #REQUIRED>
